<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <form action="/" method="post">
               <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3">
                    <div class="col">
                        <label for="item" class="text-uppercase fs-5">enter item :</label>
                        <input type="text" class="form-control" id="item">
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </div>
               </div>
            </form>
        </div>
    </div>
</div>
